body {
	background: pink;
}
#bullet1{
	padding: 10px;
    background: rgba(0,0,0,0.5);
	display: block;
}
header {
      text-align: center;
      background: url('https://lh3.google.com/u/0/d/0B0lTNctx04lNRjdqc1c1dTlkSzQ=w1914-h711-iv1');
      background-size: cover;
      color: white;
}
li {
	display: inline;
    padding: 0px 10px 0px 10px;
}
#bullet2 {
    display: block;
}