body {
background:rgb(255,255,102);
}
header {
      align-content:center;
      background:1000px; 
      color: #ff3366;
      text-align: center;
}
li {
display: inline;
    padding: 0px 10px 0px 10px;
}
ul {
    padding: 10px;
    background: rgba(10,10,10,0.5);
    opacity: 0.5;
}
background {
opacity:0.5;
}
