body {
background:black;
color: white;
  

}
   header {
      text-align: center;
      background: url('https://lh3.google.com/u/0/d/0B0lTNctx04lNdFl3dHJpRTR5SFE=w1177-h831-iv1');
      background-size: cover;
      color: white;
      padding-top: 80px;
      font-size:200%;
    }

li {
      display: inline;
      padding: 0px 10px 0px 10px;
      color: black;
}
ul {
      padding: 10px;
      background:rgba(255,102,102,0.5)
}
img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
}
  
